.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 700px;
    height: auto;
    padding: 25px;
    border-radius: 4px;

    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
}

.subject {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.title {
    width: 100%;
}

.description {
    width: 100%;
    margin-top: 15px !important;
}

.targets {
    width: 100%;
    margin-top: 15px !important;
}

.priority {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 15px 0px !important;
}

.actions {
    display: flex;
    gap: 10px;
}
