.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: auto;
    padding: 15px 30px;
    border-radius: 4px;

    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
}
