.list {
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    overflow: auto;
}

.item {
    width: 96%;
    margin: auto;
    margin-bottom: 15px;
}

.label {
    width: 100%;
    min-height: 350px;
    max-height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}
